* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    overflow-y: scroll; /* Muestra la barra de desplazamiento en navegadores no WebKit */
}
  
body::-webkit-scrollbar {
    width: 5px; 
}
  
body::-webkit-scrollbar-thumb {
    background-color: black;
}

.titulo {
    width: 100%;
    height: 60px;
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
}

.principal-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.downloads-container {
    width: 32rem;
    margin-top: 2rem;
    padding: 5px;
}

.links-zone {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    background-color: #ddd;
    width: 95%;
    height: 98%;
    max-height: 40rem;
    padding: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.links-zone::-webkit-scrollbar {
    width: 5px;
}

.links-zone::-webkit-scrollbar-thumb {
    background-color: black;
}
  

.link {
    display: flex;
    align-items: center;
    width: 100%;
    height: 3rem;
    background-color: white;
    padding: 5px;
    margin: 0 0 5px ;
    box-sizing: border-box;
}

.name-file {
    width: 80%;
    overflow: hidden;
}

.download {
    width:40%;
    overflow: hidden;
}

.download button {
    background-color: white;
    font-size: 16px;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.download button:hover {
    background-color: #ddd;
}

.download button:active {
    background-color: black;
    color: white;
}

.download a button {
    display: flex;
}

.download i {
    height: 16px;
}

.download a {
    text-decoration: none;
}

.download p {
    margin-right: 3px;
}

.body-form {
    height: 42rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    padding: 0;
}

.form {
    max-height: 40rem;
    min-height: 40rem;
    width: 30rem;
    display: grid;
    grid-row: span;
    border: rgb(156, 156, 156) solid 1px;
    overflow: hidden;
    margin: 0;
    padding: 6px;
}

input {
    width: 100%;
    height: 2rem;
    border: none;
    background-color: rgb(219, 218, 218);
}

input[type=text] {
    font-size: 20px;
    margin-bottom: 2rem;
}

input[type=file] {
    margin-bottom: 2rem;
    font-size: 16px;
}

#file-entry {
    width: 100%;
    height: 200px;
}

label {
    font-family: 'Courier New', Courier, monospace;
}

input[type=submit] {
    border: none;
    align-self: baseline;
    font-size: 20px;
}

input[type=submit]:hover {
    background-color: rgb(141, 141, 141);
    color: white;
}

input[type=submit]:active {
    background-color: black;
    color: white;
}

#alert[class=error] {
    height: 3rem;
    background-color: rgb(214, 105, 105);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

#alert p {
    font-size: 1.2rem;
}

#alert[class=success] {
    height: 3rem;
    background-color: rgb(20, 221, 13);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

#tabla-container, .container-tabla-renderizado {
    width: 100%;
    display: grid;
    justify-content: center;
}

h2 {
    text-align: center;
    text-justify: inter-word;
}

table {
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#nombre{
    width: 20rem;
}

#grupo {
    width: 4rem;
}

#identificador {
    width: 5rem;
}

th {
    background-color: #f2f2f2;
}